@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');



body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-image: url('./images/bg-pattern-top.svg') ,url('./images/bg-pattern-bottom.svg');
    background-position: calc(100% - 50vw) calc(100% - 50vh), calc(0% + 50vw) calc(0% + 50vh);
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat, no-repeat;
    overflow: hidden;

}


.content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 180px;
    align-items: center;
    justify-content: center;

}

.card {
    margin-top: 0;
    height: 250px;
    width: 350px;
}

.upper-card {
    height: 150px;
    border-radius: 10px 10px 0 0;
    background-image: url('./images/bg-pattern-card.svg')
}

.card-content {
    position: relative;
    background-color: white;
    border-radius: 0 0 10px 10px;
    height: 100%;
}

.card-header{
    padding: 5px;
}
.card-content>img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

    border-radius: 50%;
    border: 5px solid white;
}
.card-footer{
    padding-top: 15px;
}
h1 {
    text-align: center;
    padding-top: 75px;
    font-size: 18px;
}
.grey {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.align-center {
    text-align: center;
}

.divider {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    background:hsl(0, 0%, 59%);
}
.numbers{
    display: flex;
}

.number{
    flex : 1;
    text-align : center;
}
.title{
    display: inline-block;
}
.title > h1{
    display: inline-block;
}

.attribution {
    font-size: 11px;
    text-align: center;
    height: 50px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    display: block;
}

@media screen and (max-width: 767px) {
    body {
      background-size: 720px;
    }
  
    .card {
      width: 325px;
    }
  }